<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <h1>Shared Folder: <%= folder.name %></h1>
    <% if (folder.files.length > 0) { %>
    <ul>
      <% folder.files.forEach(function(file) { %>
      <li>
        <a href="<%= file.path %>"><%= file.originalName %></a>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No files in this folder.</p>
    <% } %>
  </body>
</html>
