<!DOCTYPE html>
<html>
  <%- include('partials/header') %> <%- include('partials/navbar') %>
  <body class="min-h-screen flex flex-col">
    <%- include("partials/errors.ejs") %>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex-grow">
      <form action="/auth/signup" method="POST" class="space-y-6">
        <div>
          <label for="username">Username: </label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="username"
            class="block w-full rounded-md py-1.5 file-input file-input-bordered file-input-sm"
            required
          />
        </div>
        <div>
          <label for="password">Password: </label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="********"
            class="block w-full rounded-md py-1.5 file-input file-input-bordered file-input-sm"
          />
        </div>
        <div>
          <label for="passwordConfirmation">Confirm Password: </label>
          <input
            type="password"
            class="block w-full rounded-md py-1.5 file-input file-input-bordered file-input-sm"
            name="passwordConfirmation"
            id="passwordConfirmation"
            placeholder="********"
            required
          />
        </div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md btn btn-primary btn-sm mt-4"
        >
          Submit
        </button>
      </form>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
