<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <h1>Upload File</h1>
    <form action="/files/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
