<footer
  class="footer footer-center bg-neutral text-neutral-content items-center p-4"
>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} - All right reserved by ACME
      Industries Ltd
    </p>
  </aside>
</footer>
